# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.hypothesis/
.cache
pytest_cache/
cover/

# Translations
*.mo
*.pot

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# HACS-related files
hacs.json

# Home Assistant specific files
home-assistant.log
home-assistant_v2.db
